* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grey-color: #dad3d1;
}
html {
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}
p {
  text-align: justify;
}
.base {
  padding-top: 20px;
  background: linear-gradient(to right top, #e0b1b7, #737162);
  height: 100%;
  width: 100%;
  z-index: 2;
}
.grid-colrow {
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: 15px;
  column-gap: 15px;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8 {
  background-color: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(215, 212, 212, 0.2));
  height: 15rem;
  width: 15rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.homepage {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: linear-gradient(to right bottom, rgba(230, 223, 223, 0.7), #5c5758);
  position: fixed;
  top: 70%;
  right: 4%;
  padding: 28px;
  color: #000;
  cursor: pointer;
  z-index: 3;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.homepage1 {
  width: 150px;
  height: 60px;
  border-radius: 15px;
  background: linear-gradient(to right bottom, rgba(202, 189, 189, 0.7), #7e7477);
  position: fixed;
  top: 85%;
  right: 2.6%;
  padding: 20px 0 0 40px;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
  z-index: 3;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.fas {
  font-size: 40px;
  color: #000;
}
.circle1 {
  top: 10%;
  left: 3%;
  opacity: 0;
  animation: showText 0.3s 1s linear forwards;
}
.circle2 {
  top: 35%;
  right: 3%;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
.circle3 {
  top: 190%;
  left: 3%;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.circle4 {
  top: 205%;
  right: 2%;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.circle5 {
  top: 380%;
  right: 3%;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.circle6 {
  top: 380%;
  left: 3%;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.circle7 {
  top: 600%;
  left: 3%;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.circle8 {
  top: 600%;
  right: 3%;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

@keyframes showText {
  to {
    opacity: 1;
  }
}
@keyframes animate-bar {
  to {
    stroke-dashoffset: -1;
  }
}
@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.path {
  stroke-width: 10;
  stroke: rgb(192, 69, 137);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
  to {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  to {
    stroke-dashoffset: 175;
  }
}

@keyframes animate-path3 {
  to {
    stroke-dashoffset: 125;
  }
}

@keyframes animate-path4 {
  to {
    stroke-dashoffset: 75;
  }
}
