/* Datahistorys.module.scss */

.base {
  padding-top: 10px;
}
/* Định nghĩa kiểu cho form */
.s003 {
  width: 80%; /* Form chiếm toàn bộ chiều rộng */
  padding: 10px 10px 0 10px; /* Thêm khoảng cách */
  background-color: #f5f5f5; /* Màu nền nhạt */
  margin: 0 auto;
}

.inner-form {
  display: flex; /* Tạo bố trí nằm ngang */
  align-items: center; /* Căn giữa theo trục đứng */
}

/* Định nghĩa kiểu cho các trường chọn (select) */
.input-select {
  position: relative;
  padding-right: 10px; /* Thêm khoảng cách bên phải */
}

.input-select select {
  padding: 10px; /* Khoảng cách bên trong */
  background-color: white; /* Nền trắng */
  font-size: 14px; /* Kích thước chữ */
  border: none;
}

/* Định nghĩa kiểu cho các trường input */
.input-field {
  border: none;
}

.input-field input {
  padding: 15px; /* Khoảng cách bên trong */
  font-size: 14px; /* Kích thước chữ */
  border: none;
}

/* Định nghĩa kiểu cho nút tìm kiếm */
.btn-search {
  background-color: #4caf50; /* Màu xanh lục */
  border: none; /* Không viền */
  margin-left: 10px;
  border-radius: 5px; /* Bo tròn các góc */
  padding: 15px; /* Khoảng cách bên trong */
  color: white; /* Chữ trắng */
  cursor: pointer; /* Con trỏ chuột khi di chuyển qua */
  transition: background-color 0.3s; /* Thêm hiệu ứng chuyển tiếp */
}

.btn-search:hover {
  background-color: #45a049; /* Màu khi di chuột qua */
}

/* Định nghĩa kiểu cho icon SVG */
.svg-inline--fa {
  width: 16px; /* Chiều rộng của icon */
  height: 16px; /* Chiều cao của icon */
}
/* Styling for the history table */
.history-table-div {
  width: 80%;
  margin: 10px auto;
  background-color: #f4f8f9;
  padding: 10px;
  // border: 1px solid #ddd;
  //   padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Bo góc */
  overflow: hidden;
  // border-collapse: collapse;
}

.history-table {
  width: 100%;
  // border-collapse: collapse;
  // padding: 0 10px;
}

/* Styling for table headers (th) */
th {
  width: 20%;
  color: #b1b9c0;
  padding: 12px;
  text-align: center;
}
.history-table tbody {
  width: 100%;
}
/* Styling for table cells (td) */
.history-table td {
  width: 20%;
  padding: 17.8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  border-radius: 5px;
}
.history-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03); /* Màu xám nhạt cho hàng lẻ */
}
/* Styling for table rows on hover */
.history-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.active {
  background-color: #555;
  color: #fff;
}
.page {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  // bottom: 20px;
  // left: 0;
  // right: 0;
}
.icon-hover:hover {
  cursor: pointer;
}
