/* DataSensors.module.scss */
html {
  height: 100%;
}
.base {
  padding-top: 10px;
}

/* Định nghĩa kiểu cho form */
.s003 {
  width: 100%; /* Form chiếm toàn bộ chiều rộng */
  padding: 10px; /* Thêm khoảng cách */
  background-color: #dee1e7; /* Màu nền nhạt */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Bo góc */
}

.inner-form {
  width: 100%;
  display: flex; /* Tạo bố trí nằm ngang */
  align-items: center; /* Căn giữa theo trục đứng */
  justify-content: space-between;
}

/* Định nghĩa kiểu cho các trường chọn (select) */
.input-select {
  position: relative;
  padding-right: 10px; /* Thêm khoảng cách bên phải */
}

.input-select select {
  padding: 15px; /* Khoảng cách bên trong */
  background-color: #ecf0f1; /* Nền trắng */
  font-size: 14px; /* Kích thước chữ */
  border: none;
  border-radius: 5px;
}

/* Định nghĩa kiểu cho các trường input */
.input-field {
  border: none;
  padding-right: 10px;
}

.input-field input {
  background-color: #ecf0f1; /* Nền trắng */
  width: 500px;
  padding: 15px; /* Khoảng cách bên trong */
  font-size: 14px; /* Kích thước chữ */
  border: none;
  border-radius: 5px;
}

/* Định nghĩa kiểu cho nút tìm kiếm */
.btn-search {
  background-color: #59a4bb; /* Màu xanh lục */
  border: none; /* Không viền */
  margin-left: 10px;
  border-radius: 5px; /* Bo tròn các góc */
  padding: 15px; /* Khoảng cách bên trong */
  color: white; /* Chữ trắng */
  cursor: pointer; /* Con trỏ chuột khi di chuyển qua */
  transition: background-color 0.3s; /* Thêm hiệu ứng chuyển tiếp */
}

.btn-search:hover {
  background-color: #3a92ac; /* Màu khi di chuột qua */
}

/* Định nghĩa kiểu cho icon SVG */
.svg-inline--fa {
  width: 16px; /* Chiều rộng của icon */
  height: 16px; /* Chiều cao của icon */
}
.sensor-table-parent {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background-color: #f4f8f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Bo góc */
}
/* Styling for the sensor table */
.sensor-table-div {
  width: 100%;
  margin: 10px auto;
  background-color: #f4f8f9;
  padding: 10px;
  // border: 1px solid #ddd;
  //   padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Bo góc */
  overflow: hidden;
  // border-collapse: collapse;
}

.sensor-table {
  width: 100%;
  // border-collapse: collapse;
  // padding: 0 10px;
}

/* Styling for table headers (th) */
.th-feild {
  width: 16.6%;
  color: #b1b9c0;
  padding: 12px;
  text-align: center;
}
.sensor-table tbody {
  width: 100%;
}
/* Styling for table cells (td) */
.sensor-table td {
  width: 16.6%;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  border-radius: 5px;
}
.sensor-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03); /* Màu xám nhạt cho hàng lẻ */
}
/* Styling for table rows on hover */
.sensor-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.active {
  background-color: #555;
  color: #fff;
}
.page {
  max-width: 98%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  // position: fixed;
  // bottom: 20px;
  // left: 0;
  // right: 0;
}
.icon-hover:hover {
  cursor: pointer;
}

.input-field input[type='date'] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.input-field input[type='date']::-webkit-calendar-picker-indicator {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 20px;
  margin: auto;
}

.input-field input[type='date']::-webkit-inner-spin-button {
  display: none;
}

.input-field input[type='date']::-webkit-clear-button {
  display: none;
}
